<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.maxdoom.www.demo1"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->
    
    <name>Demo PhoneGap App</name>
    
    <!-description>
        A Demo PhoneGap App. 
    </description-->
    
    <!--author href="http://www.maxdoom.com" email="info@maxdoom.com">
        Max Doom
    </author-->
    
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="stay-in-webview" value="true" />
    <preference name="exit-on-suspend" value="true" />


    <feature name="http://api.phonegap.com/1.0/battery"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    
    <access origin="http://www.maxdoom.com" />
</widget>
